@using Kendo.Mvc.UI;
@model CoopSystemWebApp.Models.UserModel
@{
    ViewBag.Title = "Change Password";
}


<div id="divErrorReplacePassword" class="text-center red-color hidden" style="color:red">
    <label id="lblErrorReplacePassword"></label>
</div>

<div class="alert-danger text-center small">
    <span style="color:red"><b>@ViewBag.Error</b></span>
</div>



@using (Html.BeginForm("ReplacePassword", "User", FormMethod.Post, new { @id = "ReplacePasswordForm" }))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Username)

    <div class="k-edit-form-container">
        <div class="forMember">

            <div class="k-edit-label">
                @Html.Label("Old Password")
            </div>
            <div data-container-for="User_Account_Password" class="k-edit-field">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control k-edit-field", @style = "width: 100%; height:20px; margin-right: auto;", autocomplete = "off", required ="required" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="k-edit-label">
                @Html.Label("New Password")
            </div>
            <div data-container-for="User_Account_Password" class="k-edit-field">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control k-edit-field", @style = "width: 100%; height:20px; margin-right: auto;", autocomplete = "off", required = "required" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="k-edit-label">
                @Html.Label("Confirm Password")
            </div>
            <div data-container-for="Options_Option_Description_Mf" class="k-edit-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control k-edit-field", @style = "width: 100%; height:20px; margin-right: auto;", autocomplete = "off", required = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

        </div>
    </div>

}


<div class="k-content">
    @Html.Kendo().Button().Name("btnChangePassword").Content("Save").Events(e => e.Click("onClick_SaveCPW")).HtmlAttributes(new { @style = "margin:5px", @class = "k-primary pull-right" })
    @Html.Kendo().Button().Name("btnCancelCPW").Content("Cancel").Events(e => e.Click("onClick_CancelCPW")).HtmlAttributes(new { @style = "margin:5px", @class = "k-primary pull-right" })
</div>




<script type="text/javascript">
    //delete
    function onClick_DeleteGroup(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#window_Record").data("kendoWindow");
        var window_processing = $("#window_processing").data("kendoWindow");
        $("#window_Record h4").html("Are you sure you want to delete this record?");
        wnd.center().open();
        e.preventDefault();
        var values = {
            Id: dataItem.Group_Id
        };

        $("#window_Record > div > div > #Yes").click(function () {
            wnd.close();
            $.ajax({
                dataType: "html",
                type: "POST",
                url: "@(Url.Action("RemoveGroup", "Group"))",
                data: values,
                success: function (result) {
                    var grid = $("#GridGroup").data("kendoGrid");
                    grid.dataSource.read();
                }
            });

        });

        $("#window_Record > div > div > #No").click(function () {
            wnd.close();
        });
    };
</script>
